@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-size: 50pt;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.__action__ {
  background: none;
  border: none;
  font-size: 50pt;
  font-family: inherit;
  cursor: pointer;
}

.pe-none {
  pointer-events: none;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.v-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

*:focus {
  border: 10px solid red;
}